---
// 1. Importa solo los datos y el componente de Periféricos
import Layout from '../layouts/Layout.astro';
import perifericos from '../data/perifericos.json';
import PerifericoCard from '../components/PerifericosCard.astro';
---

<Layout>
    <main class="max-w-7xl mx-auto py-8 px-4">
        
        <h1 class="text-4xl font-extrabold text-gray-900 mb-10 text-center">Periféricos</h1>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
            {
                perifericos.map(item => (
                    <PerifericoCard producto={item} />
                ))
            }
        </div>

    </main>
</Layout>
